html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #2eb5c9;
  font-family: 'Old Standard TT', serif;
  font: ld Standard TT;
}

h3 {
  margin: 10vw;
}

.header_text {
  font-size: 5vw;
  font-family: 'Homemade Apple', cursive;
  margin-top: 50px;
}

.header_text_right {
  margin-left: 2vw;
}

.header_logo {
  width: 25vw;
  min-width: 10vw;
}

.proclamation {
  font-family: 'Homemade Apple', cursive;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu_imgs {
  width: 25vw;
}

.about_us {
  background-color: #FFC037;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.about_us_bottom_text {
  margin-bottom: 50px;
}

.food_img {
  width: 35vw;
}

@media only screen and (max-width: 575px) {
  .food_img {
    width: 75vw;
  }
}

.parallax_container {
  background-image: url("../img/food_14.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iframe_map {
  margin-bottom: 50px;
}

.footer_text {
  text-align: center;
  margin-bottom: 50px;
}

.jellyfish-top {
  background-color: pink;
  height: 50px;
  width: 100px;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  left: 3px;
}

.jellyfish-bubble {
  background-color: pink;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
}

.jellyfish-eye {
  background-color: white;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
}

.jellyfish-eye-1 {
  left: 30px;
}

.jellyfish-eye-2 {
  left: 60px;
}

.jellyfish-bubble-1 {
  left: ;
}
.jellyfish-bubble-2 {
  left: 20px;
}
.jellyfish-bubble-3 {
  left: 40px;
}
.jellyfish-bubble-4 {
  left: 60px;
}
.jellyfish-bubble-5 {
  left: 80px;
}
.jellyfish-bubble-6 {
  left: ;
}
.jellyfish-bubble-7 {
  left: ;
}
